@page "/"

<h1>Japanizor</h1>

<p>This a toy project that I made to play around with blazor and try to learn japanese at the same time</p>
<p>Don't expect much, but I hope it can help you a little bit at least</p>
<p>Have fun!</p>